In [16]:
import pandas as pd

In [17]:
df = pd.read_csv("C:/Users/1/PycharmProjects/notebook/'QA' and 'Тестировщик'.csv")

In [18]:
df.head()

,Unnamed: 0,id,premium,name,department,has_test,response_letter_required,area,salary,type,...,alternate_url,relations,employer,snippet,contacts,schedule,working_days,working_time_intervals,working_time_modes,accept_temporary
0,0,50485788,False,"Тестировщик, QA autom",NaN,False,False,"{'id': '1', 'name': 'Москва', 'url': 'https://...","{'from': 180000, 'to': 240000, 'currency': 'RU...","{'id': 'open', 'name': 'Открытая'}",...,https://hh.ru/vacancy/50485788,[],"{'id': '3649870', 'name': 'Right Line', 'url':...",{'requirement': 'Опыт в области автоматизации ...,NaN,"{'id': 'remote', 'name': 'Удаленная работа'}",[],[],[],False
1,1,50442760,True,QA Engineer на проект Kwork (ручное тестирование),NaN,False,False,"{'id': '1', 'name': 'Москва', 'url': 'https://...","{'from': 140000, 'to': 160000, 'currency': 'RU...","{'id': 'open', 'name': 'Открытая'}",...,https://hh.ru/vacancy/50442760,[],"{'id': '1207711', 'name': 'Мирафокс', 'url': '...",{'requirement': 'Опыт работы <highlighttext>сп...,NaN,"{'id': 'remote', 'name': 'Удаленная работа'}",[],[],[],False
2,2,44909267,False,Младший инженер по качеству ПО / Junior QA Eng...,NaN,True,False,"{'id': '2', 'name': 'Санкт-Петербург', 'url': ...","{'from': 80000, 'to': 120000, 'currency': 'RUR...","{'id': 'open', 'name': 'Открытая'}",...,https://hh.ru/vacancy/44909267,[],"{'id': '15092', 'name': 'Veeam Software', 'url...",{'requirement': '...опытом в <highlighttext>QA...,NaN,"{'id': 'flexible', 'name': 'Гибкий график'}",[],[],[],False
3,3,50479651,False,Тестировщик ПО,NaN,False,False,"{'id': '1', 'name': 'Москва', 'url': 'https://...","{'from': 70000, 'to': 120000, 'currency': 'RUR...","{'id': 'open', 'name': 'Открытая'}",...,https://hh.ru/vacancy/50479651,[],"{'id': '4589539', 'name': 'Цифровая бухгалтери...",{'requirement': 'Больше года работает в тестир...,NaN,"{'id': 'remote', 'name': 'Удаленная работа'}",[],[],[],False
4,4,49823296,False,QA Engineer / Тестировщик ПО,NaN,True,False,"{'id': '2', 'name': 'Санкт-Петербург', 'url': ...","{'from': 45000, 'to': 90000, 'currency': 'RUR'...","{'id': 'open', 'name': 'Открытая'}",...,https://hh.ru/vacancy/49823296,[],"{'id': '3255952', 'name': 'Matryoshka Games', ...",{'requirement': 'Большой игровой опыт на мобил...,NaN,"{'id': 'remote', 'name': 'Удаленная работа'}",[],[],[],False

In [19]:
df.rename(columns={'Unnamed: 0' : 'index'}, inplace=True)
df.set_index('index', inplace=True)
df.head()

,id,premium,name,department,has_test,response_letter_required,area,salary,type,address,...,alternate_url,relations,employer,snippet,contacts,schedule,working_days,working_time_intervals,working_time_modes,accept_temporary
index,,,,,,,,,,,,,,,,,,,,,
0,50485788,False,"Тестировщик, QA autom",NaN,False,False,"{'id': '1', 'name': 'Москва', 'url': 'https://...","{'from': 180000, 'to': 240000, 'currency': 'RU...","{'id': 'open', 'name': 'Открытая'}","{'city': 'Москва', 'street': 'Варшавское шоссе...",...,https://hh.ru/vacancy/50485788,[],"{'id': '3649870', 'name': 'Right Line', 'url':...",{'requirement': 'Опыт в области автоматизации ...,NaN,"{'id': 'remote', 'name': 'Удаленная работа'}",[],[],[],False
1,50442760,True,QA Engineer на проект Kwork (ручное тестирование),NaN,False,False,"{'id': '1', 'name': 'Москва', 'url': 'https://...","{'from': 140000, 'to': 160000, 'currency': 'RU...","{'id': 'open', 'name': 'Открытая'}",NaN,...,https://hh.ru/vacancy/50442760,[],"{'id': '1207711', 'name': 'Мирафокс', 'url': '...",{'requirement': 'Опыт работы <highlighttext>сп...,NaN,"{'id': 'remote', 'name': 'Удаленная работа'}",[],[],[],False
2,44909267,False,Младший инженер по качеству ПО / Junior QA Eng...,NaN,True,False,"{'id': '2', 'name': 'Санкт-Петербург', 'url': ...","{'from': 80000, 'to': 120000, 'currency': 'RUR...","{'id': 'open', 'name': 'Открытая'}",NaN,...,https://hh.ru/vacancy/44909267,[],"{'id': '15092', 'name': 'Veeam Software', 'url...",{'requirement': '...опытом в <highlighttext>QA...,NaN,"{'id': 'flexible', 'name': 'Гибкий график'}",[],[],[],False
3,50479651,False,Тестировщик ПО,NaN,False,False,"{'id': '1', 'name': 'Москва', 'url': 'https://...","{'from': 70000, 'to': 120000, 'currency': 'RUR...","{'id': 'open', 'name': 'Открытая'}",NaN,...,https://hh.ru/vacancy/50479651,[],"{'id': '4589539', 'name': 'Цифровая бухгалтери...",{'requirement': 'Больше года работает в тестир...,NaN,"{'id': 'remote', 'name': 'Удаленная работа'}",[],[],[],False
4,49823296,False,QA Engineer / Тестировщик ПО,NaN,True,False,"{'id': '2', 'name': 'Санкт-Петербург', 'url': ...","{'from': 45000, 'to': 90000, 'currency': 'RUR'...","{'id': 'open', 'name': 'Открытая'}",NaN,...,https://hh.ru/vacancy/49823296,[],"{'id': '3255952', 'name': 'Matryoshka Games', ...",{'requirement': 'Большой игровой опыт на мобил...,NaN,"{'id': 'remote', 'name': 'Удаленная работа'}",[],[],[],False

In [20]:
import ast

salaries = df.salary.dropna()
currencies = [ast.literal_eval(salaries.iloc[i])['currency'] for i in range(len(salaries))]
curr = set(currencies) #{'EUR', 'RUR', 'USD'}

rur = [ast.literal_eval(salaries.iloc[i]) for i in range(len(salaries)) if ast.literal_eval(salaries.iloc[i])['currency']=='RUR']
eur = [ast.literal_eval(salaries.iloc[i]) for i in range(len(salaries)) if ast.literal_eval(salaries.iloc[i])['currency']=='EUR']
usd = [ast.literal_eval(salaries.iloc[i]) for i in range(len(salaries)) if ast.literal_eval(salaries.iloc[i])['currency']=='USD']

In [21]:
fr = [x['from'] for x in rur] # lower range of salary
fr = list(filter(lambda x: x is not None, fr)) # remove NA's from lower range [0, 100, 200,...]

to = [x['to'] for x in rur] #upper range of salary
to = list(filter(lambda x: x is not None, to)) #remove NA's from upper range [100, 200, 300,...]

import numpy as np
salary_range = list(zip(fr, to)) # concatenate upper and lower range  [(0,100), (100, 200), (200, 300)...]
av = map(np.mean, salary_range) # convert [(0,100), (100, 200), (200, 300)...] to [50, 150, 250,...]
av = round(np.mean(list(av)),1) # average value from [50, 150, 250,...]

print("Средняя зарплата тестировщика", av, "рублей")

Средняя зарплата тестировщика 120002.5 рублей