In [34]:
import pandas as pd

In [35]:
df = pd.read_csv(r"C:\Users\1\PycharmProjects\HHparser\QA.csv")

In [36]:
df.head()

,Unnamed: 0,id,premium,name,department,has_test,response_letter_required,area,salary,type,...,employer,snippet,contacts,schedule,working_days,working_time_intervals,working_time_modes,accept_temporary,professional_roles,accept_incomplete_resumes
0,0,78174707,False,QA Engineer/Тестировщик,NaN,False,False,"{'id': '2', 'name': 'Санкт-Петербург', 'url': ...","{'from': 140000, 'to': 240000, 'currency': 'RU...","{'id': 'open', 'name': 'Открытая'}",...,"{'id': '4295296', 'name': 'Софтвайс', 'url': '...",{'requirement': 'Опыт автоматизации тестов на ...,NaN,NaN,[],[],[],False,"[{'id': '124', 'name': 'Тестировщик'}]",False
1,1,79089868,False,QA Manual Trainee,NaN,False,False,"{'id': '88', 'name': 'Казань', 'url': 'https:/...",NaN,"{'id': 'open', 'name': 'Открытая'}",...,"{'id': '6093775', 'name': 'Aston', 'url': 'htt...",{'requirement': 'Хорошие знания теории тестиро...,NaN,NaN,[],[],[],False,"[{'id': '124', 'name': 'Тестировщик'}]",False
2,2,79098994,False,Тестировщик ПО / QA engineer,NaN,False,False,"{'id': '1', 'name': 'Москва', 'url': 'https://...","{'from': 150000, 'to': None, 'currency': 'RUR'...","{'id': 'open', 'name': 'Открытая'}",...,"{'id': '31034', 'name': 'Академсервис', 'url':...",{'requirement': 'Уверенные навыки тестирования...,NaN,NaN,[],[],[],False,"[{'id': '124', 'name': 'Тестировщик'}]",False
3,3,79076732,False,Junior QA/Тестировщик ПО,NaN,True,False,"{'id': '2', 'name': 'Санкт-Петербург', 'url': ...",NaN,"{'id': 'open', 'name': 'Открытая'}",...,"{'id': '1244353', 'name': 'Playvision', 'url':...",{'requirement': 'Коммерческий опыт тестировани...,NaN,NaN,[],[],[],False,"[{'id': '124', 'name': 'Тестировщик'}]",False
4,4,78585586,False,Lead QA,NaN,False,False,"{'id': '1', 'name': 'Москва', 'url': 'https://...","{'from': 250000, 'to': 350000, 'currency': 'RU...","{'id': 'open', 'name': 'Открытая'}",...,"{'id': '1870386', 'name': 'Like Центр', 'url':...",{'requirement': 'Минимальный опыт работы в сфе...,NaN,NaN,[],[],[],False,"[{'id': '124', 'name': 'Тестировщик'}]",False

In [37]:
df.rename(columns={'Unnamed: 0' : 'index'}, inplace=True)
df.set_index('index', inplace=True)
df.head()

,id,premium,name,department,has_test,response_letter_required,area,salary,type,address,...,employer,snippet,contacts,schedule,working_days,working_time_intervals,working_time_modes,accept_temporary,professional_roles,accept_incomplete_resumes
index,,,,,,,,,,,,,,,,,,,,,
0,78174707,False,QA Engineer/Тестировщик,NaN,False,False,"{'id': '2', 'name': 'Санкт-Петербург', 'url': ...","{'from': 140000, 'to': 240000, 'currency': 'RU...","{'id': 'open', 'name': 'Открытая'}","{'city': 'Санкт-Петербург', 'street': 'Чкаловс...",...,"{'id': '4295296', 'name': 'Софтвайс', 'url': '...",{'requirement': 'Опыт автоматизации тестов на ...,NaN,NaN,[],[],[],False,"[{'id': '124', 'name': 'Тестировщик'}]",False
1,79089868,False,QA Manual Trainee,NaN,False,False,"{'id': '88', 'name': 'Казань', 'url': 'https:/...",NaN,"{'id': 'open', 'name': 'Открытая'}",NaN,...,"{'id': '6093775', 'name': 'Aston', 'url': 'htt...",{'requirement': 'Хорошие знания теории тестиро...,NaN,NaN,[],[],[],False,"[{'id': '124', 'name': 'Тестировщик'}]",False
2,79098994,False,Тестировщик ПО / QA engineer,NaN,False,False,"{'id': '1', 'name': 'Москва', 'url': 'https://...","{'from': 150000, 'to': None, 'currency': 'RUR'...","{'id': 'open', 'name': 'Открытая'}","{'city': 'Москва', 'street': 'Дербеневская наб...",...,"{'id': '31034', 'name': 'Академсервис', 'url':...",{'requirement': 'Уверенные навыки тестирования...,NaN,NaN,[],[],[],False,"[{'id': '124', 'name': 'Тестировщик'}]",False
3,79076732,False,Junior QA/Тестировщик ПО,NaN,True,False,"{'id': '2', 'name': 'Санкт-Петербург', 'url': ...",NaN,"{'id': 'open', 'name': 'Открытая'}","{'city': 'Санкт-Петербург', 'street': 'Беловод...",...,"{'id': '1244353', 'name': 'Playvision', 'url':...",{'requirement': 'Коммерческий опыт тестировани...,NaN,NaN,[],[],[],False,"[{'id': '124', 'name': 'Тестировщик'}]",False
4,78585586,False,Lead QA,NaN,False,False,"{'id': '1', 'name': 'Москва', 'url': 'https://...","{'from': 250000, 'to': 350000, 'currency': 'RU...","{'id': 'open', 'name': 'Открытая'}",NaN,...,"{'id': '1870386', 'name': 'Like Центр', 'url':...",{'requirement': 'Минимальный опыт работы в сфе...,NaN,NaN,[],[],[],False,"[{'id': '124', 'name': 'Тестировщик'}]",False

In [38]:
import ast

salaries = df.salary.dropna()
currencies = [ast.literal_eval(salaries.iloc[i])['currency'] for i in range(len(salaries))]
curr = set(currencies) #{'EUR', 'RUR', 'USD'}

rur = [ast.literal_eval(salaries.iloc[i]) for i in range(len(salaries)) if ast.literal_eval(salaries.iloc[i])['currency']=='RUR']
eur = [ast.literal_eval(salaries.iloc[i]) for i in range(len(salaries)) if ast.literal_eval(salaries.iloc[i])['currency']=='EUR']
usd = [ast.literal_eval(salaries.iloc[i]) for i in range(len(salaries)) if ast.literal_eval(salaries.iloc[i])['currency']=='USD']

In [39]:
fr = [x['from'] for x in rur] # lower range of salary
fr = list(filter(lambda x: x is not None, fr)) # remove NA's from lower range [0, 100, 200,...]

to = [x['to'] for x in rur] #upper range of salary
to = list(filter(lambda x: x is not None, to)) #remove NA's from upper range [100, 200, 300,...]

import numpy as np
salary_range = list(zip(fr, to)) # concatenate upper and lower range  [(0,100), (100, 200), (200, 300)...]
av = map(np.mean, salary_range) # convert [(0,100), (100, 200), (200, 300)...] to [50, 150, 250,...]
av = round(np.mean(list(av)),1) # average value from [50, 150, 250,...]

print("Средняя зарплата тестировщика", av, "рублей")

Средняя зарплата тестировщика 126339.2 рублей